<%- include("partials/header") -%>

<div class="jumbotron">
  <h1 class="display-4">Bitcoin Exchange</h1>
  <p class="lead">Get timely exchange rates for your fiat currency</p>
  <hr class="my-4">
  <p>The current date is: <%= results.currentDate %></p>
  <p><%= results.amount %> <%= results.crypto %> is currently worth <%= results.price %> <%= results.fiat %></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
  </p>
</div>

<%- include("partials/footer") -%>